
###> symfony/framework-bundle ###
.env
.env.local
.env.local.php
.env.*.local
config/secrets/dev/dev.decrypt.private.php
dev.decrypt.private.php
public/bundles/
var/
vendor/

###< symfony/framework-bundle ###
